<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskManager.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>

    <div class="page">
        <main class="container-xxl">

            <div class="px-5 pt-3 nav-links">
                <a class="logo-link login-link" asp-area="" asp-controller="Workspaces" asp-action="Index">TaskManager</a>
                <div class="nav-section">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Manager"))
                        {
                            <a class="login-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarDropdown" role="button" data-toggle="button"
                                aria-haspopup="true" aria-expanded="false">
                                Менеджмент
                            </a>
                            <div class="dropdown-menu" aria-labelledby="">
                                <a class="dropdown-item" asp-controller="Users" asp-action="Index">Пользователи</a>
                                <a class="dropdown-item" asp-controller="Workspaces" asp-action="Index">Рабочие пространства</a>
                            </div>
                        }
                        <a class="login-link" asp-controller="Users" asp-route-id="@User.Identity.Name" asp-action="Profile">Профиль</a>
                        <a class="login-link" asp-controller="Notifications" asp-action="Index">Оповещения</a>
                        <a class="login-link" asp-controller="Users" asp-action="Logout">Выйти</a>
                    }
                </div>
            </div>

            <article class="content pt-1">
                @RenderBody()
            </article>

        </main>
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
