@model WorkspaceModel

@{
    ViewData["Title"] = "Подтверждение действия";
}

<div>
    <p>Вы действительно хотите удалить рабочую область @Model.WorkspaceName ? Все задания данной рабочей области будут удалены. Это действие будет невозможно отменить.</p>
    <a asp-action="Delete" asp-route-id="@Model.Id">Да, я хочу удалить данную рабочую область</a>
</div>