@model IEnumerable<WorkspaceModel>

@{
    ViewData["Title"] = "Ваши рабочие пространства";
}

<h1 class="page-heading text-uppercase mb-4">Рабочие пространства</h1>

<div class="row">
    @if (Model?.Count() > 0)
    {
        @foreach (var item in Model)
        {
            <div class="element-entry">
                <div class="element-entry-text">
                    @Html.DisplayFor(modelItem => item.WorkspaceName)
                </div>
                <div class="element-entry-actions">
                    <a class="btn btn-outline-primary" asp-controller="Tasks" asp-action="Index" asp-route-workspace="@item.Id">Открыть</a>
                    @if (User.IsInRole("Manager"))
                    {
                        <a class="btn btn-outline-danger" asp-action="DeleteConfirm" asp-route-id="@item.Id">Удалить</a>
                    }
                </div>
            </div>
        }
    }
</div>

<div style="position: fixed; right: 30px; bottom: 30px;" class="text-white">
    <a asp-action="Create" class="btn btn-main">Создать</a>
</div>