@model UserModel

@{
    ViewData["Title"] = "Details";
}

<div class="row justify-content-center detail-form">
    <div class="col-xl-8 col-lg-10 form-layout">
        @if (Model is not null)
        {
            <div class="row task-detail-row">
                <div class="col-11 task-detail">
                    <div class="task-detail-text">
                        <div>Full name: @Model.FullName</div>
                        <div>Email address: @Model.EmailAddress</div>
                        <div class="fw-bold mb-2 task-detail-task">Category: @Model.Category.CategoryName</div>

                        <div>
                            <a class="btn btn-main text-uppercase" asp-action="Index">Show all</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>