@model TaskManager.ViewModels.LogInViewModel

@{
    ViewData["Title"] = "Войти";
}

<h1 class="page-heading mb-4">Осуществить вход</h1>
<div class="row justify-content-center create-form">
    <div class="col-xl-8 col-lg-10 form-layout">
        <form asp-action="LogIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="input-section">
                <span asp-validation-for="EmailAddress" class="span-danger fw-bold text-uppercase"></span>
                <label asp-for="EmailAddress" class="input-description"></label>
                <input asp-for="EmailAddress" class="form-control"/>
            </div>
            <div class="input-section">
                <span asp-validation-for="Password" class="span-danger fw-bold text-uppercase"></span>
                <label asp-for="Password" class="input-description"></label>
                <input asp-for="Password" class="form-control"/>
            </div>

            <div class="center-children">
                <button class="btn btn-main btn-lg text-uppercase" type="submit">Войти</button>
            </div>
        </form>
    </div>
</div>